Faker==0.7.3
Flask==0.11.1
Flask-API==0.6.9
Flask-CLI==0.4.0
Flask-Injector==0.8.0
Flask-Migrate==2.0.2
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
Jinja2==2.8
Mako==1.0.6
MarkupSafe==0.23
SQLAlchemy==1.1.4
Werkzeug==0.11.11
alembic==0.8.9
aniso8601==1.2.0
autopep8==1.2.4
chardet==2.2.1
click==6.6
colorama==0.2.5
command-not-found==0.3
html5lib==0.999
injector==0.11.1
itsdangerous==0.24
language-selector==0.1
pep8==1.7.0
psycopg2==2.6.2
pycurl==7.19.3
pygobject==3.12.0
python-apt==0.9.3.5ubuntu2
python-dateutil==2.6.0
python-editor==1.0.3
pytz==2016.10
redis==2.10.5
requests==2.2.1
six==1.5.2
typing==3.5.2.2
uWSGI==2.0.14
ufw==0.34-rc-0ubuntu2
unattended-upgrades==0.1
urllib3==1.7.1
wheel==0.24.0
